$color-1: rgb(28, 27, 26);
$color-2: rgb(242, 240, 235);
$color-3: rgb(216, 140, 140);
$color-grey: #dddddd;
$color-grey-dark: #6d6c6c;
$color-blue: #519aaa;
$color-neon: rgb(33, 73, 82);
$color-accept: rgb(55, 173, 144);
$shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.3);
$shadow-1: 0 0 13px 2px rgba(51, 47, 47, 0.2);
$shadow-subtle: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
$shadow-subtle-1: 0 0 20px 5px rgba(0, 0, 0, 0.1);

$font-1: "century gothic", sans-serif;
$font-2: "montserrat bold", sans-serif;

$grid-width: 114rem;
$gutter-width: 3rem;
$gutter-width-small: 1rem;
$gutter-height: 8rem;
$gutter-height-small: 0;
