.menu {
  position: relative;


  &__title {
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    color: $color-1;
    font-weight: 300;

    &:not(:first-child) {

      border-top: 1px solid rgba($color-1, .1);
    }

    &--margin-top {
      margin-top: 7rem;
      padding-top: 7rem;
    }

    &--sub {
      display: inline-block;
      font-size: 1.2rem;
      color: $color-1;
      text-align: center;
      padding: 4rem 10rem;
    }
  }

  &__item-box {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
    transition: all .5s;
    border-radius: 3px;
    margin-bottom: 3rem;

    /*&:hover {
      transform: scale(1.01) translateY(-2%);
      box-shadow: 1px 6px 20px 15px rgba(0, 0, 0, 0.04);
    }*/

    &--title {
      text-transform: capitalize;
      font-size: 1.6rem;
      float: left;
      padding: 0.3rem 0;
    }

    &--price {
      font-size: 1.8rem;
      float: right;
      padding: 0.6rem 0.1rem;
    }

    &--desc {
      padding: 0 0 3rem 0;
      width: 89%;
      font-size: 1.1rem;
      font-family: $font-2;
      font-weight: 400;
      line-height: 1.5rem;
      clear: both;
    }

    &--image {
      width: 100%;
      transition: all 0.4s;
      opacity: 0.95;
      border-radius: 3px;

      &:hover {
        opacity: 1;
      }
    }
  }
}
