#section-careers-header {
  position: relative;
  height: 95vh;
  width: 100%;
  color: $color-1;
}

#careers-heading {
  height: 20rem;
  color: $color-1;
}

#section-careers-bar {
  position: relative;
  color: $color-1;
  height: 100vh;
  max-width: 100vw;
  padding: 4rem;
  margin: 4rem 0;
}

#section-careers-floor {
  position: relative;
  color: $color-1;
  height: 100vh;
  max-width: 100vw;
  padding: 4rem;
  margin: 4rem 0;
}
#section-careers-reception {
  position: relative;
  color: $color-1;
  height: 100vh;
  max-width: 100vw;
  padding: 4rem;
  margin: 4rem 0;
}
#section-careers-chef {
  position: relative;
  color: $color-1;
  height: 100vh;
  max-width: 100vw;
  padding: 4rem;
  margin: 4rem 0;
  margin-bottom: 10rem;
}
